<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 5px;
            padding-right: 5px;
        }

        table {
            width: 100%;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<table>
    <tr>
        <th colspan="2" rowspan="2">HOJA DE CONTROL DE DOCUMENTOS</th>
        <td class="text-bold">Código FO-GA-019</td>
    </tr>
    <tr>
        <td class="text-bold">Versión: 2</td>
    </tr>
    <tr>
        <td colspan="2">GESTIÓN ADMINISTRATIVA</td>
        <td class="text-bold">Página: 1 de 1</td>
    </tr>
    <tr>
        <td>Elaboró: Unidad de Gestión Documental</td>
        <td>Revisión: Secretaría Administrativa</td>
        <td>Aprobó: Comité MECICALIDAD</td>
    </tr>
</table>
<br>
<p class="text-bold">NOMBRE DE LA SERIE O SUBSERIE DOCUMENTAL: PROCESOS DE MEDIDAS DE PROTECCIÓN</p>
<p class="text-bold">NOMBRE DEL EXPEDIENTE { #folder } { #title }</p>

<table>
    <tr class="text-bold">
        <td class="text-center" style="width: 90px;">FECHA</td>
        <td>TIPO DOCUMENTAL</td>
        <td class="text-center" style="width: 90px;">ORDEN</td>
        <td class="text-center" style="width: 90px;">FOLIOS</td>
        <td style="width: 100px;">INGRESA</td>
    </tr>
    { #body }
    <tr>
        <td colspan="5" class="text-bold text-center">
            OBSERVACIONES (CIERRE DEL PROCESO)
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 100px;"></td>
        <td class="text-bold" colspan="3" style="height: 100px;">FIRMA DEL RESPONSABLE (Lider del proceso): <br><br> <br></td>
    </tr>
</table>

<body>

</body>

</html>